.icon {
    display: inline-block;
    font-size: 35px;
    color: #ffC977;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 20px;;
   }

.main {
    margin-right: 5%;
    margin-left: 5%;
    vertical-align: middle;
    text-align: center;
}

ion-card-content p {
    padding-bottom: 10px;
}

ion-card {
    margin-bottom: 30px;
}

ion-card-subtitle {
    font-style: italic;
}

ion-card img {
    max-height: 20em;
}

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  vibrant:    rebeccapurple,
  bright:     #ffc125
);

