<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recette
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge class="badge-one" color="danger">?</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let recette of listeRecette">
    <img src="{{ recette.image }}" alt="Image de la recette {{ recette.nom }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ recette.restaurant }}</ion-card-subtitle>
      <ion-card-title>{{ recette.nom }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p *ngIf="recette.description !== ''">{{ recette.description }}</p>
      <ion-button fill="outline" expand="block" (click)="ouvrirPageDetail(recette)">Plus d'infos <ion-icon name="receipt-outline" slot="start"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
