ion-grid.grid-bottom {
  position: relative;
  top: 30%;
}

ion-grid.grid-bottom ion-col {
  border: 3px solid #8c8c8c;
}

.grid-bottom ion-buttons {
  margin-left: 17%;
}

ion-slide {
  margin-bottom: 10px;
}

.texte-slide {
  color: var(--ion-color-step-600, #60646b);
}

ion-slide b {
  padding-bottom: 7%;
  line-height: 2.5;
}