<app-header></app-header>

<ion-content [fullscreen]="true">
  <div>
    <h1 class="ion-text-center ion-padding"><em>Le bateau de Thibault</em></h1>
    <p class="ion-text-center ion-padding">
      Vente en direct de notre bateau<br>
      Produits selon la saison, livraisons sur Paris
    </p>

    <ion-grid class="ion-padding-top">
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button href="tel:+33663999978"><ion-icon name="call" slot="icon-only"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="mailto:lebateaudethibault@gmail.com"><ion-icon name="mail" slot="icon-only"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="http://www.facebook.com/lebateaudethibault"><ion-icon name="logo-facebook" class="no-border" slot="icon-only"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>Nous appeler</ion-col>
        <ion-col>Envoyer un mail</ion-col>
        <ion-col>Voir la page Facebook</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid class="grid-bottom">
    <ion-row>
      <ion-col>Produits et promotions</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Bateaux</ion-col>
      <ion-col>Restaurants</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Recettes</ion-col>
      <ion-col>Contact</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
