<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ detail.nom }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge class="badge-one" color="danger">?</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    <section>
      <h1>Informations sur {{ detail.nom }}</h1>
      <p>Quelques informations supplémentaires sur notre partenaire.</p>
    </section>
    
    <img src="{{ detail.url }}" alt='Image du restaurant "{{ detail.nom }}"' />

    <section>
      <h2>Informations générales</h2>
      <p><ion-icon name="restaurant" class="tab icone-info"></ion-icon>  {{ detail.nom }}</p>
      <p>
        <ion-icon name="location" class="tab icone-info"></ion-icon>  {{ detail.adresse }} 
        <a href="http://www.google.com/maps?q={{ detail.adresse }}" target="_blank" rel="noopener noreferrer">
          <ion-icon name="map"></ion-icon>
        </a>
      </p>
      <p>
        <ion-icon name="call" class="tab icone-info"></ion-icon>  
        <a href="tel:{{ detail.raccourci_tel }}">{{ detail.tel }}</a>
      </p>

      <h3>Description du restaurant</h3>
      <p> {{ detail.description }} </p>
    </section>
    
    <section>
      <h2>Site Web <ion-icon name="globe"></ion-icon></h2>
      <p><a href="{{ detail.site }}">
        Voir le site web du restaurant "{{ detail.nom }}" <ion-icon name="arrow-redo"></ion-icon>
      </a></p>
    </section>
    
    <section>
      <h2>Réseaux sociaux</h2>
      <ion-grid id="grid-res-social">
        <ion-row>
          <ion-col *ngIf="detail.res_sociaux.facebook">
            <a href="{{ detail.res_sociaux.facebook }}" target="_blank">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </ion-col>
          <ion-col *ngIf="detail.res_sociaux.instagram">
            <a href="{{ detail.res_sociaux.instagram }}" target="_blank">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </ion-col>
          <ion-col *ngIf="detail.res_sociaux.twitter">
            <a href="{{ detail.res_sociaux.twitter }}" target="_blank">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="detail.res_sociaux.facebook"><p>{{ nomFb }}</p></ion-col>
          <ion-col *ngIf="detail.res_sociaux.instagram"><p>{{ nomInsta }}</p></ion-col>
          <ion-col *ngIf="detail.res_sociaux.twitter"><p>{{ nomTwitter }}</p></ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section>
      <h2>Tripadvisor</h2>
      <a href="{{ detail.tripadvisor }}" target="_blank">
        <img src="assets/images-restaurant/tripadvisor-logo.svg" width="100px" alt="Logo de du site Tripadvisor">
        <p class="ion-text-center">Voir la page Tripadvisor du restaurant <ion-icon name="arrow-redo"></ion-icon></p>
      </a>
    </section>
  </div>
</ion-content>
