<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulaire
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button shape="round" (click)="fermerFormulaire()">
        <ion-icon size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Formulaire d'ajout d'un restaurant partenaire</h1>
  <p>Join our forces !</p>
</ion-content>
