<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-content>

    <ion-list>
      <ion-card *ngFor="let product of itemListData">
        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b>{{ product.price | currency:'USD' }}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear" (click)="addToCart(product)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
